:root{
--bacColors:#dcdcdc;

}
.select-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* cursor: pointer; */
    height: 100%;
    width: 100%;
    /* background: red; */
    height: 0.88rem;
    font-size: 0.24rem;
    border-bottom: 1px solid #dcdcdc;
    background: white
}
.select-button-right-split{
    width: 1px;
    height: 0.3rem;
    background: var(--bacColors);
    float: right;
}